<script>
    function getConfidenceVal() {
        var i, r = document.getElementsByName('confidence');
        for (i = 0; i < r.length; i++) {
            if (r[i].checked) return r[i].value;
        }
        return '';
    }
</script>
<div id="confidence" class="control-group">
    <div class="radio">
      <label class="control-label"><input type="radio" name="confidence" value="4"> Sure</label>
    </div>
    <div class="radio">
      <label class="control-label"><input type="radio" name="confidence" value="3"> Fairly confident</label>
    </div>
    <div class="radio">
      <label class="control-label"><input type="radio" name="confidence" value="2"> Slightly confident</label>
    </div>
    <div class="radio">
      <label class="control-label"><input type="radio" name="confidence" value="1"> Not confident</label>
    </div>
    <div class="radio">
      <label class="control-label"><input type="radio" name="confidence" value="0"> Guessing</label>
    </div>
</div>

