{% extends 'SoundRefAB/base_wide.html' %}

{% block body_block %}
<h1>Comments in scenario nbr {{scenario.pk}} "{{scenario.description}}"</h1>

     <div class="row">
    {% for x in final_comments %}
      <div class="col-sm-8">
          <div class="panel  panel-success">
              <div class="panel-heading"><h4>{{x.question}}</h4></div>
              <div class="panel-body">
                  <ul>
				    {% for comment  in x.comments %}
                    <li><strong><a href="{% url 'srefab:subjectdetail' comment.subj_id %}">Subject {{comment.subj_id}}:</a> </strong>{{comment.text}}</li>
                    {% endfor %}
                 </ul>
            </div>
          </div>
      </div>
    {% endfor %}
    </div>

   <div class="row">
    {% for x in experiment_comments %}
      <div class="col-sm-8">
          <div class="panel  panel-success">
              <div class="panel-heading"><h4>Experiment "{{x.experiment_title}}"</h4></div>
              <div class="panel-body">
                  <ul>
				    {% for comment  in x.comments %}
                    <li><strong><a href="{% url 'srefab:subjectdetail' comment.subj_id %}">Subject {{comment.subj_id}}</a> trial {{comment.trial}}: </strong>{{comment.text}}</li>
                    {% endfor %}
                 </ul>
            </div>
          </div>
      </div>
    {% endfor %}
    </div>


{% endblock %}
