{% extends 'SoundRefAB/base.html' %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'SoundRefAB/style.css' %}">


{% block body_block %}

<script type="text/javascript">
   function validateFormOnSubmit(theForm){
       if (theForm.valid.value == "0") {
           alert("Please rate before submitting!");
           return false;
       }

       return true;
   }
   
   
</script>


<h1>Sound level adjust</h1>

<p>In the next few experiments we will ask you to listen to a first tone</p>
    <table border="1px" margin="10px">
        <tr>
            <td>
                <h2>Reference</h2>
                <audio id="audio0" src='{% static 'SoundRefAB/pg_loudness_adj_ref.wav' %}'>
                    Your browser does not support the audio element.
                </audio>
                <script type="text/javascript">
                   function Play0(){
                      var v = document.getElementById("audio0");
                      v.play();
                   }
                </script>
            <input type="button" onclick="Play0();"  value="Play"/>
            </td>
        </tr>
    </table>


<p>And then, with a slider adjust a second tone so that it sounds <b>twice as loud</b> as the first sound.</p>

<p>For example, the next sound is considered by most people to be twice as loud as the one above:</p>

    <table border="1px" margin="10px">
        <tr>
            <td>
                <h2>Reference</h2>
                <audio id="audio1" src='{% static 'SoundRefAB/pg_loudness_adj_refX2.wav' %}'>
                    Your browser does not support the audio element.
                </audio>
                <script type="text/javascript">
                   function Play1(){
                      var v = document.getElementById("audio1");
                      v.play();
                   }
                </script>
            <input type="button" onclick="Play1();"  value="Play"/>
            </td>
        </tr>
    </table>

<div style="height:10px;clear:both;"></div>
<!--  
<form action="{% url 'srefab:next' subject_id %}"  method="post" id="next_page">
     <input type="button" style="font-size:24;width:100px;height:50px" type="submit" name="submit"  value="Next"/>
</form>
-->

<!-- FIXME: this should become a questionnaire and data sent into the db-->
<form action="{% url 'srefab:next' subject_id %}" onsubmit="return validateFormOnSubmit(this)" method="post" id="LoudnessForm">
    <input type="hidden" id="valid" value="0">
    
    <div style="height:20px"></div>
        {% csrf_token %}
        <p>How confident are you about judging sounds "twice as loud"?</p>
        <div>
            <div style="width:200px;float:left">
                <input id="slider" name="slider" type="range" style="width:180px"
                min="0" max="3" step="1" value="0"
                oninput="ConfidenceMeaning(this.value)" onchange="ConfidenceMeaning(this.value)"/>
            </div>
            <div style="float:left;color:red" id="confidence_text">Rate me!</div>
        </div>
        <script type="text/javascript">
           function ConfidenceMeaning(val){
              var t = document.getElementById("confidence_text");
              t.style.color="black";
              switch(parseInt(val)){
              case 0:
                  t.innerHTML = 'Not confident at all';
                  document.getElementById("valid").value="1";
                  break;
              case 1:
                  t.innerHTML = 'Mostly unsure';
                  document.getElementById("valid").value="1";
                  break;
              case 2:
                  t.innerHTML = 'Pretty confident';
                  document.getElementById("valid").value="1";
                  break;
              case 3:
                  t.innerHTML = "I completely understand";
                  document.getElementById("valid").value="1";
                  break;
              default:
                  t.innerHTML = 'oops';

              }
           }
        </script>
    <div style="height:10px;clear:both;"></div>
    <p>Any comments?</p>
    <textarea rows="4" cols="50" name="comment"></textarea>
    <div style="height:10px;clear:both;"></div>

    <input style="font-size:24;width:100px;height:50px" type="submit" name="submit" value="Next" />
</form>

{% endblock %}