{% extends 'SoundRefAB/base.html' %}

{% block body_block %}
<h1>Done! </h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


  <div class="jumbotron">
    <h1>UNSW Tone study</h1>
    <p>The study is now complete</p>
    <p>Thank you for your participation</p>
  </div>


<input style="font-size:24;width:100px;height:50px" type="button" class="btn btn-success" name="next" value="Finish" id="next" onclick="location.href='{% url 'srefab:next' subject_id %}'"/>

{% endblock %}
