{% extends 'SoundRefAB/base.html' %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'SoundRefAB/style.css' %}">


{% block body_block %}

<h1>Vibrato</h1>

<p>Vibrato refers to regular fluctuations that we hear in musical notes.</p>

<p>The following note has no vibrato</p>
    <table border="1px" margin="10px">
        <tr>
            <td>
                <h2>No vibrato</h2>
                <input class="played" type="hidden" id="played_sam0" value="">
                <audio id="audio0" src='{% static 'SoundRefAB/pg_vibrato_expl_no_vib.wav' %}'>
                    Your browser does not support the audio element.
                </audio>
                <script type="text/javascript">
                    function Play0(){
                      var v = document.getElementById("audio0");
                      v.play();
                      document.getElementById("played_sam0").value="1";
                    }
                </script>
                <input type="button" onclick="Play0();"  value="Play"/>
                
            </td>
        </tr>
    </table>
            
<p>The two next ones have relativelly small vibrato</p>

    <table border="1px" margin="10px">
        <tr>
            <td>
                <h2>Small vibrato (1)</h2>
                <input class="played" type="hidden" id="played_sam1" value="">
                <audio id="audio1" src='{% static 'SoundRefAB/pg_vibrato_expl_small_timbre_vib.wav' %}'>
                    Your browser does not support the audio element.
                </audio>
                <script type="text/javascript">
                    function Play1(){
                      var v = document.getElementById("audio1");
                      v.play();
                      document.getElementById("played_sam1").value="1";
                    }
                </script>
                <input type="button" onclick="Play1();"  value="Play"/>
            </td>
            <td>
                <h2>Small vibrato (2)</h2>
                <input class="played" type="hidden" id="played_sam2" value="">
                <audio id="audio2" src='{% static 'SoundRefAB/pg_vibrato_expl_small_loudness_vib.wav' %}'>
                    Your browser does not support the audio element.
                </audio>
                <script type="text/javascript">
                    function Play2(){
                      var v = document.getElementById("audio2");
                      v.play();
                      document.getElementById("played_sam2").value="1";
                    }
                </script>
                <input type="button" onclick="Play2();"  value="Play"/>
            </td>
        </tr>
    </table>


<p>Whereas the next two sounds have larger vibrato than the preceding ones</p>

    <table border="1px" margin="10px">
        <tr>
            <td>
                <h2>Large vibrato (1)</h2>
                <input class="played" type="hidden" id="played_sam3" value="">
                <audio id="audio3" src='{% static 'SoundRefAB/pg_vibrato_expl_large_timbre_vib.wav' %}'>
                    Your browser does not support the audio element.
                </audio>
                <script type="text/javascript">
                    function Play3(){
                      var v = document.getElementById("audio3");
                      v.play();
                      document.getElementById("played_sam3").value="1";
                    }
                </script>
                <input type="button" onclick="Play3();"  value="Play"/>
            </td>
            <td>
                <h2>Large vibrato (2)</h2>
                <input class="played" type="hidden" id="played_sam4" value="">
                <audio id="audio4" src='{% static 'SoundRefAB/pg_vibrato_expl_large_loudness_vib.wav' %}'>
                    Your browser does not support the audio element.
                </audio>
                <script type="text/javascript">
                    function Play4(){
                      var v = document.getElementById("audio4");
                      v.play();
                      document.getElementById("played_sam4").value="1";
                    }
                </script>
                <input type="button" onclick="Play4();"  value="Play"/>
            </td>
        </tr>
    </table>
    <div style="height:10px;clear:both;"></div>
<form action="{% url 'srefab:next' subject_id %}" onsubmit="return validateFormOnSubmit(this)" method="post" id="trialForm">
    {% csrf_token %}
    <input style="font-size:24;width:100px;height:50px" type="submit" name="submit" value="Next" />
</form>
    
{% endblock %}