{% extends 'SoundRefAB/base.html' %}

{% load staticfiles %}

{% block head_block %}
<!-- Latest compiled and minified CSS -->

<script src="{% static 'SoundRefAB/htmlSoundGoodies.js' %}"></script> 


{% endblock %}

{% block body_block %}

    
<h1>Fluctuation tones</h1>

<p>Some tones seem constant and others seem to fluctuate. We will ask you to compare the ammount of the fluctuation in different tones, such as these:</p>

<p>The following tone has no fluctuations:</p>
    <div class="row">
      <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>No fluctuation</h3></div>
            <div class="panel-body">
                <audio id="audio0" src='{% static 'SoundRefAB/pg_vibrato_expl_no_vib.wav' %}' preload="auto">
                    Your browser does not support the audio element.
                </audio>
                <input type="button" class="btn btn-default"  value="Play"/>
          
            </div>
          </div>
          
      </div>
    </div>
    
    
            
<p>The two next ones have relativelly small fluctuations:</p>

    <div class="row">
      <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Small fluctuation (1)</h3></div>
            <div class="panel-body">
                <audio id="audio1" src='{% static 'SoundRefAB/pg_vibrato_expl_small_timbre_vib.wav' %}' preload="auto">
                    Your browser does not support the audio element.
                </audio>
                <input type="button" class="btn btn-default"  value="Play"/>
            </div>
          </div>
          
      </div>
      <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Small fluctuation (2)</h3></div>
            <div class="panel-body">
                <audio id="audio2" src='{% static 'SoundRefAB/pg_vibrato_expl_small_loudness_vib.wav' %}' preload="auto">
                    Your browser does not support the audio element.
                </audio>
                <input type="button" class="btn btn-default" onclick="Play2();"  value="Play"/>
            </div>
          </div>
          
      </div>
      
    </div>


<p>Whereas the next two tones have larger fluctuations than the preceding ones:</p>

    <div class="row">
      <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Large fluctuation (1)</h3></div>
            <div class="panel-body">
                <audio id="audio3" src='{% static 'SoundRefAB/pg_vibrato_expl_large_timbre_vib.wav' %}' preload="auto">
                    Your browser does not support the audio element.
                </audio>
                <input type="button" class="btn btn-default" onclick="Play3();"  value="Play"/>
            </div>
          </div>
          
      </div>
      <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Large fluctuation (2)</h3></div>
            <div class="panel-body">
                <audio id="audio4" src='{% static 'SoundRefAB/pg_vibrato_expl_large_loudness_vib.wav' %}' preload="auto">
                    Your browser does not support the audio element.
                </audio>
                <input type="button" class="btn btn-default" onclick="Play4();"  value="Play"/>
            </div>
          </div>
          
      </div>
      
    <div style="height:10px;clear:both;"></div>
<form action="{% url 'srefab:next' subject_id %}" onsubmit="return validateFormOnSubmit(this)" method="post" id="trialForm">
    {% csrf_token %}
    <input style="font-size:24;width:100px;height:50px" type="submit" class="btn btn-success disabled" name="submit" value="Next" id="submit" />
</form>
    
{% endblock %}
