{% extends 'SoundRefAB/base.html' %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'SoundRefAB/style.css' %}">


{% block body_block %}

<h1>Welcome...</h1>

<p>... and thank you for taking part in this study organised by the music acoustics lab and the empyrical musicology laboratory of UNSW. </p>

<p>You will be asked about your understanding of sound (in particular, the concepts of 'loudness' and 'brightness'. You will then be asked to judge some sounds, followed by some details about yourself.</p>

<p>... and will then go on to evaluate how you perceive some sounds:</p>

<ul>
    <li>Firstly, some pure tones</li>
    <li>Then some synthesised vibrato sounds</li>
</ul> 

<p>The experiments take 40 to 50 minutes to complete.  You should be in a quite place, where you will not be disturbed, with good quality headphone/speakers, and with you mobile and other devices switched off.</p>

<input type="button" style="font-size:24;width:100px;height:50px" name="next_button" value="Next" onclick="location.href='{% url 'srefab:next' subject_id %}'">

{% endblock %}