{% extends 'SoundRefAB/base.html' %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'SoundRefAB/style.css' %}">


{% block body_block %}

<h1>Welcome...</h1>

<p>... and thank you for taking part in this study organised by the music acoustics lab and the empirical musicology laboratory of UNSW. </p>

<p>You will be asked about your understanding of words used to describe sound tones (in particular, the concepts of 'loudness' and 'brightness'). You will then be asked to judge some tones, followed by some details about yourself.</p>


<p>The experiments take 40 to 50 minutes to complete.  You should be in a quiet place, where you will not be disturbed, with good quality headphone/speakers, and with your mobile and other devices switched off.</p>

<input style="font-size:24;width:100px;height:50px" type="button" class="btn btn-success" name="next" value="Next" id="next" onclick="location.href='{% url 'srefab:next' subject_id %}'"/>

{% endblock %}
