{% extends 'SoundRefAB/base.html' %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'SoundRefAB/style.css' %}">


{% block body_block %}

<h1>Welcome...</h1>

<p>... and thank you for taking part in this study organised by the music acoustics lab and the empirical musicology laboratory of UNSW. </p>

<p>You will be asked about your understanding of words used to describe sound tones (in particular, the concepts of 'loudness' and 'brightness'). You will then be asked to judge some tones, followed by some details about yourself.</p>


<p>The experiments take 20 to 30 minutes to complete.  You should be in a quiet place, where you will not be disturbed, with good quality headphone/speakers, and with your mobile and other devices switched off.</p>

<p>In each page:</p>

<ul>
    <li>Listen to all sounds,</li>
    <li>Adjust any sliders or select matching sound,</li>
    <li>Rate how confident you are about your answers,</li>
    <li>Do not use navigation (back/forward) buttons in the browser,</li>
    <li><b>Do not adjust the volume.</b> If it is too loud or too soft, please ask for help.</li>
    <li>Please be patient and <b>wait after pressing "Next" buttons</b>. The server may take a few seconds to respond</li>
</ul>
<p>You may listen to to the sounds as many times as you wish, but please try to give your first impressions.</p>

<input style="font-size:24;width:100px;height:50px" type="button" class="btn btn-success" name="next" value="Next" id="next" onclick="location.href='{% url 'srefab:next' subject_id %}'"/>

{% endblock %}
