
{% extends 'SoundRefAB/base.html' %}

{% block body_block %}
<h1>Subject list</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if subject_list %}
    <ul>
    {% for s in subject_list %}
        <li><a title="Subject {{ s.pk }} in {{s.scenario.description}}" href="{% url 'srefab:subjectdetail' s.pk %}">{{ s.pk }} (scenario {{s.scenario.id}})</a> on {{ s.start_date|date:"D d M Y H:i:s"  }} ({{s.total_trials}} trials in {{ s.exp_id|add:"-1" }} runs in {{s.get_total_experiment_duration_formated}})</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No subjects are available.</p>
{% endif %}
{% endblock %}

