{% extends 'SoundRefAB/base_exp.html' %}


{% load staticfiles %}

{% block head_block %}
	<script type="text/javascript" src="{% static 'SoundRefAB/slopeAmps.js' %}"></script>
    <script type="text/javascript" src="{% static 'SoundRefAB/riffwav.js' %}"></script>
    <script type="text/javascript" src="{% static 'SoundRefAB/htmlSoundGoodies.js' %}"></script>

    <script type="text/javascript">
       $(window).load(function(){
           regenSound({{param_list.0.val0}},"audio0");
           regenSound({{param_list.1.val0}},"audio1");
           
           waitDlg.hidePleaseWait();
       });
    </script>
       
    <script type="text/javascript">
        regenSound = function(val, id) {
           var nharm = {{param_list.0.nharm}};
           if (id == 'audio0') {
               var ampl = {{param_list.0.ampl}};
               var slope = {{param_list.0.slope}};
           }
           else
           {
               var ampl = {{param_list.1.ampl}};
               var slope = {{param_list.1.slope}};
           }
           var dur = {{param_list.0.dur}};
           var freq = {{param_list.0.freq}};
           {{param_list.0.adj_par_name}} = val;
           var hseq = scvals[Math.round(slope*400)];
           document.getElementById(id).src = GeneratePeriodic(hseq,ampl,dur,freq);
           return true;
       }
       
       sliderChange = function(val) {
           regenSound(val,'audio1');
           timestamp('A'+val);
           playAndDoStuff($('#audio1')[0]);
       }
    </script>
{% endblock %}

{% block body_block %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'srefab:processadj' sample_id %}" onsubmit="return validateFormOnSubmit(this)" method="post" id="trialForm">
    <input type="hidden" id="valid" value="0">
    <input name="playseq" type="hidden" id="playseq" value="">
    <input type="hidden" id="showndate" value="0" onload="this.value=(new Date()).valueOf();">
    <script>
        var showndate = new Date();
        document.getElementById("showndate").value = showndate.valueOf();
    </script>
    <input type="hidden" id="ampl_list" value="{{ampl_list}}">
    <h2>{{ instruction_text|safe }}</h2>
    <div class="row">
      <div class="col-sm-12">
          <div class="panel panel-default panel-horizontal">
            <div class="panel-heading"><h3>Tone 1:</h3></div>
            <div class="panel-body">
                <audio id="audio0">
                    Your browser does not support the audio element.
                </audio>
                <input type="button" class="btn btn-default"  value="Play"/>
            
            </div>
            <div style="clear:both; border:none;"></div>
          </div>
          

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <div class="panel panel-horizontal panel-default">
            <div class="panel-heading"><h3>Tone 2:</h3></div>
            <div class="panel-body">
                <div style="float:left">
                    <audio id="audio1">
                        Your browser does not support the audio element.
                    </audio>
                    <input type="button" class="btn btn-default"  value="Play"/>
                </div>
                <div style="float:left;padding-top:12px;padding-left:15px">
                    <input id="adjval" name="adjval" type="range" style="width:400px"
                    min="0" max="1" step=".0025" value="{{param_list.1.val0}}"
                    onchange="sliderChange(this.value);"/>
                </div>
                <div style="clear:both"></div>
            </div>
            <div style="clear:both; border:none;"></div>
          </div>
          
      </div>
    </div>
    
   <div style="height:20px"></div>
   <div class="row">
     <div class="col-sm-4">
         <div class="panel panel-default">
           <div class="panel-heading">How confident are you about your answer?</div>
           <div class="panel-body">
                
                {% include 'SoundRefAB/confidence_radio.html' %}         
           </div>
         </div>
         
     </div>
     <div class="col-sm-8">
         <div class="panel panel-default">
           <div class="panel-heading">Any comments? (optional)</div>
           <div class="panel-body">
                <textarea rows="4" cols="50" name="comment"></textarea>
           </div>
         </div>
         
     </div>
   </div>
   
    {% csrf_token %}
    <input style="font-size:24;width:100px;height:50px" type="submit" class="btn btn-success disabled" name="submit" value="Next" id="submit" />
    </form>
{% endblock %}
