{% extends 'SoundRefAB/base.html' %}


{% load staticfiles %}

{% block head_block %}
    <script type="text/javascript" src="{% static 'SoundRefAB/riffwav.js' %}" />

    <script type="text/javascript">
       window.onload = function(){
           window.document.body.onload = init_things;
       };
   
        function init_things()
        {
           regenSound({{param_list.0.ampl}},document.getElementById("audio0"));
           regenSound({{param_list.1.ampl}},document.getElementById("audio1"));
       } ;
    </script>


    <script type="text/javascript">

        function validateFormOnSubmit(theForm){
            if (getConfidenceVal() == "") {
                alert("Please rate before submitting!");
                return false;
            }
            var x = document.getElementsByClassName("played");
            var i;
            for (i = 0; i < x.length; i++) {
                if (! x[i].value) {
                    alert("Please listen to all sounds before submitting!");
                    return false;
                };
            }
            
            return true;
        };
   
       function regenSound(val, id) {
           var nharm = {{param_list.0.nharm}};
           var slope = {{param_list.0.slope}};
           var ampl = {{param_list.0.ampl}};
           var dur = {{param_list.0.dur}};
           var freq = {{param_list.0.freq}};
           {{param_list.0.adj_par_name}} = val
           realslope = (1-slope) * 6 - 1
           document.getElementById(id).src = GeneratePeriodic(nharm,realslope,ampl,dur,freq);
           return true;
       }
   
       function timestamp(label) {
           var showndate = document.getElementById("showndate").value;
           var datedelay = Math.floor(((new Date().valueOf())-showndate)/1000);
           document.getElementById("playseq").value += (label+":"+datedelay+";");
       
       
       }
    </script>
{% endblock %}

{% block body_block %}


   
   


<h1>Sample {{ trial_id }} of {{ n_trials }}</h1>


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'srefab:processadj' sample_id %}" onsubmit="return validateFormOnSubmit(this)" method="post" id="trialForm">
    <input type="hidden" id="valid" value="0">
    <input name="playseq" type="hidden" id="playseq" value="">
    <input type="hidden" id="showndate" value="0" onload="this.value=(new Date()).valueOf();">
    <script>
        var showndate = new Date();
        document.getElementById("showndate").value = showndate.valueOf();
    </script>
    <input type="hidden" id="ampl_list" value="{{ampl_list}}">
    <h2>{{ instruction_text }}</h2>
    <p>Difficulty level: {{ difficulty }}</p>
    <table border="1px" margin="10px">
        <tr>
            <td>
                <h2>Reference</h2>
                <input class="played" type="hidden" id="played_ref" value="">
                <audio id="audio0" >
                    Your browser does not support the audio element.
                </audio>
                <script type="text/javascript">
                   function Play0(){
                      var v = document.getElementById("audio0");
                      if(v.src.length<1000){
                          regenSound({{param_list.0.val0}},"audio0");
                      }
                      timestamp('0');
                      document.getElementById("played_ref").value="1";
                      v.play();
                   }
                </script>

            <input type="button" onclick="Play0();"  value="Play"/>
            </td>
            <td>
                <h2>Adjust:</h2>
                <input class="played" type="hidden" id="played_sam1" value="">
                <audio id="audio1">
                    Your browser does not support the audio element.
                </audio>
                <script type="text/javascript">
                   function Play1(){
                      var v = document.getElementById("audio1");
                      if(v.src.length<1000){
                          regenSound(document.getElementById("adjval").value,"audio1");
                      }
                      timestamp('1');
                      document.getElementById("played_sam1").value="1";
                      v.play();
                   }
                </script>
            <input id="adjval" name="adjval" type="range" style="width:180px"
                min="0" max="1" step=".01" value="{{param_list.0.val}}"
                onchange="regenSound(this.value, 'audio1'); timestamp('A');
"/>
				
				<input type="button" onclick="Play1();"  value="Play"/>
        </tr>
    </table>
    <div style="height:20px"></div>
        {% csrf_token %}
        <p>How confident are you of this answer?</p>
        <table border="1px" margin="10px">
            <tr>
                <td>
                    <p>How confident are you about judging sounds "twice as bright"?</p>
                    {% include 'SoundRefAB/confidence_radio.html' %}
                </td>
                <td>
                    <p>Any comments?</p>
                    <textarea rows="4" cols="50" name="comment"></textarea>
                </td>
            </tr>
        </table>
        <div style="height:20px"></div>
        <input style="font-size:24;width:100px;height:50px" type="submit" name="submit" value="Submit" />

    </form>
{% endblock %}