{% extends 'SoundRefAB/base.html' %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'SoundRefAB/style.css' %}">

{% block head_block %}
<script type="text/javascript">
   function validateFormOnSubmit(theForm){
       if (theForm.choice.value == "") {
           alert("Please pick a sound!");
           return false;
       }
       if (getConfidenceVal() == "") {
           alert("Please rate before submitting!");
           return false;
       }
       var x = document.getElementsByClassName("played");
       var i;
       for (i = 0; i < x.length; i++) {
           if (! x[i].value) {
               alert("Please listen to all sounds before submitting!");
               return false;
           };
       }

       return true;
   }
   
   function timestamp(label) {
       var showndate = document.getElementById("showndate").value;
       var datedelay = Math.floor(((new Date().valueOf())-showndate)/1000);
       document.getElementById("playseq").value += (label+":"+datedelay+";");
       
       
   }
   
</script>
{% endblock %}

{% block body_block %}



<h1>Sample {{ trial_id }} of {{ n_trials }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if sound_list %}
<form action="{% url 'srefab:process' sample_id %}" onsubmit="return validateFormOnSubmit(this)" method="post" id="trialForm">
    <input type="hidden" id="valid" value="0">
    <input type="hidden" id="showndate" value="0" onload="this.value=(new Date()).valueOf();">
    <script>
        var showndate = new Date();
        document.getElementById("showndate").value = showndate.valueOf();
    </script>
    
    <input name="playseq" type="hidden" id="playseq" value="">
    <h2>{{ instruction_text }}</h2>
    <p>Difficulty level: {{ difficulty }}</p>
    <table border="1px" margin="10px">
        <tr>
        {% for s in sound_list %}
            <td>
                <h2>{{ s.name }}</h2>

            <input class="played" type="hidden" id="played_sam{{ forloop.counter0 }}" value="">
            <audio id="audio{{ forloop.counter0 }}">
                <source type="audio/wav" src="{{ s.file }}" />
                Your browser does not support the audio element.
            </audio>
            <script type="text/javascript">
               function Play{{ forloop.counter0 }}(){
                  var v = document.getElementById("audio{{ forloop.counter0 }}");
                  v.play();
                  timestamp('{{ forloop.counter0 }}');
                  document.getElementById("played_sam{{ forloop.counter0 }}").value="1";
               }
            </script>

            <input type="button" onclick="Play{{ forloop.counter0 }}();"  value="Play"/>
            {% if s.choice %}
                <input type="radio" name="choice" value="{{ forloop.counter0 }}" />
            {% endif %}
            </td>
        {% endfor %}
        </tr>
    </table>
    <div style="height:20px"></div>
        {% csrf_token %}
        <p>How confident are you of this answer?</p>
        <table border="1px" margin="10px">
            <tr>
                <td>
                    <p>How confident are you about your answer?</p>
                    {% include 'SoundRefAB/confidence_radio.html' %}
                </td>
                <td>
                    <p>Any comments?</p>
                    <textarea rows="4" cols="50" name="comment"></textarea>
                </td>
            </tr>
        </table>
        <div style="height:20px"></div>
        <input style="font-size:24;width:100px;height:50px" type="submit" name="submit" value="Submit" />

    </form>
{% else %}
    <p>No sounds to diplay!!</p>
{% endif %}{% endblock %}