{% extends 'SoundRefAB/base.html' %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'SoundRefAB/style.css' %}">

{% block head_block %}
<script type="text/javascript" src="{% static 'SoundRefAB/htmlSoundGoodies.js' %}"></script>

<script type="text/javascript">

function getAnswer() {
    var i, r = document.getElementsByName('choice');
    for (i = 0; i < r.length; i++) {
        if (r[i].checked) return r[i].value;
    }
    return '';
}


var oldDocumentReady = $(document).ready

$(document).ready(function(){
    console.log('Here!')
    $('input[name=choice]').data('valid',false);
    $('input[name=choice]').data('invalidAlert',function() {
        alertModal("Please pick a sound!").showAlert();
        $('input[name=choice]').closest('.panel').removeClass('panel-default').addClass('panel-warning');
    });
    $('input[name=choice]').on('click', function(){
        
        $('input[name=choice]').closest('.panel').removeClass('panel-warning').addClass('panel-default');
        $('input[name=choice]').data('valid',true);
        validatePage();
    })
    oldDocumentReady();
});
   
</script>
{% endblock %}

{% block body_block %}



<h1>Sample {{ trial_id }} of {{ n_trials }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if sound_list %}
<form action="{% url 'srefab:process' sample_id %}" onsubmit="return validateFormOnSubmit(this)" method="post" id="trialForm">
    <input type="hidden" id="valid" value="0">
    <input type="hidden" id="showndate" value="0" onload="this.value=(new Date()).valueOf();">
    <script>
        var showndate = new Date();
        document.getElementById("showndate").value = showndate.valueOf();
    </script>
    
    <input name="playseq" type="hidden" id="playseq" value="">
    <h2>{{ instruction_text }}</h2>
    <div class="row">
      {% for s in sound_list %}
      <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Tone {{ forloop.counter }}</h3></div>
            <div class="panel-body">
                <audio id="audio{{ forloop.counter0 }}">
                    <source type="audio/wav" src="{{ s.file }}" />
                    Your browser does not support the audio element.
                </audio>
                <input type="button" class="btn btn-default"  value="Play"/>
                {% if s.choice %}
                    <input type="radio" name="choice" value="{{ forloop.counter0 }}" />
                {% endif %}
                
            </div>
          </div>
          
      </div>
      {% endfor %}
    </div>
    
    <div style="height:20px"></div>
    <div class="row">
      <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-heading">How confident are you about your answer?</div>
            <div class="panel-body">
                
                 {% include 'SoundRefAB/confidence_radio.html' %}         
            </div>
          </div>
         
      </div>
      <div class="col-sm-8">
          <div class="panel panel-default">
            <div class="panel-heading">Any comments?</div>
            <div class="panel-body">
                 <textarea rows="4" cols="50" name="comment"></textarea>
            </div>
          </div>
         
      </div>
    </div>
    
    {% csrf_token %}

    <input style="font-size:24;width:100px;height:50px" type="submit" class="btn btn-success disabled" name="submit" value="Next" id="submit" />
    </form>
{% else %}
    <p>No sounds to diplay!!</p>
{% endif %}{% endblock %}
