{% extends 'SoundRefAB/base_exp.html' %}


{% load staticfiles %}

{% block head_block %}
<script type="text/javascript" src="{% static 'SoundRefAB/htmlSoundGoodies.js' %}"></script>

<script type="text/javascript">
    
function getAnswer() {
    var i, r = document.getElementsByName('answer');
    for (i = 0; i < r.length; i++) {
        if (r[i].checked) return r[i].value;
    }
    return '';
}


var oldDocumentReady = $(document).ready

$(document).ready(function(){
    console.log('Here!')
    $('#answer').data('valid',false);
    $('#answer').data('invalidAlert',function() {
        alertModal("Please answer the question!").showAlert();
        $('#answer').closest('.panel').removeClass('panel-default').addClass('panel-warning');
    });
    $('#answer').on('click', function(){
        
        $(this).closest('.panel').removeClass('panel-warning').addClass('panel-default');
        $(this).data('valid',true);
        validatePage();
    })
    oldDocumentReady();
});
</script>

{% endblock %}

{% block body_block %}



<h1>Brightness adjust</h1>

<p>You will now be asked to compare the brightness of two tones.</p>

<p>In order to have an idea of what brightness means, tone 2 should be clearly brighter than tone 1.</p>

    <div class="row">
      <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Tone 1:</h3></div>
            <div class="panel-body">
                <audio id="audio0" src="{% static 'SoundRefAB/pg_brightness_adj_dark.wav' %}" preload="auto">
                    Your browser does not support the audio element.
                </audio>
                <input type="button" class="btn btn-default"  value="Play"/>
          
            </div>
          </div>
          
      </div>
    </div>



    <div class="row">
      <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Tone 2:</h3></div>
            <div class="panel-body">
                <audio id="audio1" src="{% static 'SoundRefAB/pg_brightness_adj_bright.wav' %}" preload="auto">
                    Your browser does not support the audio element.
                </audio>
                <input type="button" class="btn btn-default"  value="Play"/>
          
            </div>
          </div>
          
      </div>
    </div>


<!-- FIXME: this should become a questionnaire and data sent into the db-->
<form action="{% url 'srefab:processintro' sample_id %}" onsubmit="return validateFormOnSubmit(this)" method="post" id="brightIntroForm">
    {% csrf_token %}
    
    <input type="hidden" id="valid" value="0">
    
   <div class="row">
     <div class="col-sm-4">
         <div class="panel panel-default">
           <div class="panel-heading">Do you agree that tone 1 is brighter than tone 2?</div>
           <div class="panel-body">
                <div id="answer" class="control-group">
                    <div class="radio">
                      <label class="control-label"><input type="radio" name="answer" value="Y"> Yes</label>
                    </div>
                    <div class="radio">
                      <label class="control-label"><input type="radio" name="answer" value="N"> No</label>
                    </div>
                    <div class="radio">
                      <label class="control-label"><input type="radio" name="answer" value="U"> Unsure</label>
                    </div>
                </div>
           </div>
         </div>
         
     </div>
     <div class="col-sm-8">
         <div class="panel panel-default">
           <div class="panel-heading">Any comments?  (optional)</div>
           <div class="panel-body">
                <textarea rows="4" cols="50" name="comment"></textarea>
           </div>
         </div>
         
     </div>
   </div>
   
    {% csrf_token %}
    <input style="font-size:24;width:100px;height:50px" type="submit" class="btn btn-success disabled" name="submit" value="Next" id="submit" />

</form>


{% endblock %}
