{% extends 'SoundRefAB/base.html' %}


{% load staticfiles %}

{% block head_block %}
<script type="text/javascript" src="{% static 'SoundRefAB/htmlSoundGoodies.js' %}"></script>

<script type="text/javascript">
    
    
    
validateFormOnSubmit = function(theForm) {
    var valid = true;
    valid = valid && validateAudio(theForm);
    if (getConfidenceVal() == "") {
        alert("Please rate before submitting!");
        valid = false;
    }
    return valid;
};
    //$(window).on("load", waitDlg.hidePleaseWait);
</script>

{% endblock %}

{% block body_block %}



<h1>Brightness adjust</h1>

<p>The next task is similar, but we now ask you to adjust the second sound so that it sounds <b>twice as bright</b> as the reference.</p>

<p>There is no scientific consensus as to what <b>twice as bright</b> means. However, in order to have an idea of what brightness means, the first sound...</p>

    <div class="row">
      <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Sample 1</h3></div>
            <div class="panel-body">
                <audio id="audio0" src="{% static 'SoundRefAB/pg_brightness_adj_bright.wav' %}">
                    Your browser does not support the audio element.
                </audio>
                <input type="button" class="btn btn-default"  value="Play"/>
          
            </div>
          </div>
          
      </div>
    </div>


<p>... should sound <b>brighter</b> than the next sound:</p>

    <div class="row">
      <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Sample 2</h3></div>
            <div class="panel-body">
                <audio id="audio0" src="{% static 'SoundRefAB/pg_brightness_adj_dark.wav' %}">
                    Your browser does not support the audio element.
                </audio>
                <input type="button" class="btn btn-default"  value="Play"/>
          
            </div>
          </div>
          
      </div>
    </div>

<p> Up to you to define what  <b>twice as bright</b> means to you!</p>
<p> This may be more difficult, let us know with the last slider how easy you found the task.</p>

<!-- FIXME: this should become a questionnaire and data sent into the db-->
<form action="{% url 'srefab:processintro' sample_id %}" onsubmit="return validateFormOnSubmit(this)" method="post" id="brightIntroForm">
    {% csrf_token %}
    
    <input type="hidden" id="valid" value="0">
    
   <div class="row">
     <div class="col-sm-4">
         <div class="panel panel-default">
           <div class="panel-heading">How confident are you about your answer?</div>
           <div class="panel-body">
                
                {% include 'SoundRefAB/confidence_radio.html' %}         
           </div>
         </div>
         
     </div>
     <div class="col-sm-8">
         <div class="panel panel-default">
           <div class="panel-heading">Any comments?</div>
           <div class="panel-body">
                <textarea rows="4" cols="50" name="comment"></textarea>
           </div>
         </div>
         
     </div>
   </div>
   
    {% csrf_token %}
    <input style="font-size:24;width:100px;height:50px" type="submit" class="btn btn-success disabled" name="submit" value="Next" id="submit" />

</form>


{% endblock %}