{% extends 'SoundRefAB/base.html' %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'SoundRefAB/style.css' %}">



{% block head_block %}
<script type="text/javascript" src="{% static 'SoundRefAB/htmlSoundGoodies.js' %}"></script>

<script type="text/javascript">
    
    
    
validateFormOnSubmit = function(theForm) {
    var valid = true;
    valid = valid && validateAudio(theForm);
    if (getConfidenceVal() == "") {
        alert("Please rate before submitting!");
        valid = false;
    }
    return valid;
};
    
    //$(window).on("load", waitDlg.hidePleaseWait);
</script>


{% endblock %}
{% block body_block %}


<h1>Sound level adjust</h1>

<p>In this section you will be asked to compare the loudness of two tonws. Here is an example:</p>

    <div class="row">
      <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Tone 1</h3></div>
            <div class="panel-body">
                <audio id="audio0" src="{% static 'SoundRefAB/pg_loudness_adj_ref.wav' %}">
                    Your browser does not support the audio element.
                </audio>
                <input type="button" class="btn btn-default"  value="Play"/>
          
            </div>
          </div>
          
      </div>
    </div>




    <div class="row">
      <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Tone 2</h3></div>
            <div class="panel-body">
                <audio id="audio0" src="{% static 'SoundRefAB/pg_loudness_adj_refX2.wav' %}">
                    Your browser does not support the audio element.
                </audio>
                <input type="button" class="btn btn-default"  value="Play"/>
          
            </div>
          </div>
          
      </div>
    </div>

<p>You may click the 'Play' button as often as you wish but please try to give your first impression.</p>

<p>Do you agree that tone 2 is louder than tone 1?</p>
<div id="confidence" class="control-group">
    <div class="radio-inline">
      <label class="control-label"><input type="radio" name="confidence" value="Y"> Yes</label>
    </div>
    <div class="radio-inline">
      <label class="control-label"><input type="radio" name="confidence" value="N"> No</label>
    </div>
    <div class="radio-inline">
      <label class="control-label"><input type="radio" name="confidence" value="U"> Unsure</label>
    </div>
</div>

<div style="height:10px;clear:both;"></div>
<!--  
<form action="{% url 'srefab:next' subject_id %}"  method="post" id="next_page">
     <input type="button" style="font-size:24;width:100px;height:50px" type="submit" name="submit"  value="Next"/>
</form>
-->

<!-- FIXME: this should become a questionnaire and data sent into the db-->
<form action="{% url 'srefab:next' subject_id %}" onsubmit="return validateFormOnSubmit(this)" method="post" id="LoudnessForm">
    {% csrf_token %}
    <input type="hidden" id="valid" value="0">
    
   <div class="row">
     <div class="col-sm-4">
         <div class="panel panel-default">
           <div class="panel-heading">How confident are you about your answer?</div>
           <div class="panel-body">
                
                {% include 'SoundRefAB/confidence_radio.html' %}         
           </div>
         </div>
         
     </div>
     <div class="col-sm-8">
         <div class="panel panel-default">
           <div class="panel-heading">Any comments?</div>
           <div class="panel-body">
                <textarea rows="4" cols="50" name="comment"></textarea>
           </div>
         </div>
         
     </div>
   </div>
   
    {% csrf_token %}
    <input style="font-size:24;width:100px;height:50px" type="submit" class="btn btn-success disabled" name="submit" value="Next" id="submit" />

{% endblock %}
